{% load static %}
<html>
<head>
  <title>Book Library</title>
  <link rel="stylesheet" href="{% static 'bower/css-reset/reset.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower/jquery-ui/themes/base/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="content" class="wrapper"></div>
  <script src='{% static "bower/jquery/dist/jquery.min.js" %}'></script>
  <script src='{% static "bower/jquery-ui/jquery-ui.min.js" %}'></script>
  <script src="{% static 'bundle.js' %}"></script>
</body>
</html>